<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="rio_Mark_1._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <rio_Mark_1._0.Properties.Settings>
            <setting name="rioDbConnectionString" serializeAs="String">
                <value>Data Source=|DataDirectory|\bin\Debug\DB\rioDb.sdf;Password=rioDB01;Persist Security Info=True</value>
            </setting>
            <setting name="rioDbConnectionString1" serializeAs="String">
                <value>Data Source=|DataDirectory|\rioDb.sdf;Password=rioDB01;Persist Security Info=True</value>
            </setting>
            <setting name="rioDbConnectionString2" serializeAs="String">
                <value>Data Source=|DataDirectory|\DB\rioDb.sdf;Password=rioDB01</value>
            </setting>
            <setting name="Alarm" serializeAs="String">
                <value/>
            </setting>
            <setting name="VolIncDec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MyWidth" serializeAs="String">
                <value>479</value>
            </setting>
            <setting name="MyHeight" serializeAs="String">
                <value>191</value>
            </setting>
            <setting name="WOEID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value/>
            </setting>
            <setting name="Unit" serializeAs="String">
                <value/>
            </setting>
            <setting name="Condition" serializeAs="String">
                <value/>
            </setting>
            <setting name="Humidity" serializeAs="String">
                <value/>
            </setting>
            <setting name="WindSpeed" serializeAs="String">
                <value/>
            </setting>
            <setting name="Town" serializeAs="String">
                <value/>
            </setting>
            <setting name="TFCond" serializeAs="String">
                <value/>
            </setting>
            <setting name="TFHigh" serializeAs="String">
                <value/>
            </setting>
            <setting name="TFLow" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastBuildDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="MusicDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="VideoDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="PictureDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="Email" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExprCountDown" serializeAs="String">
                <value>0</value>
            </setting>
        </rio_Mark_1._0.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
</configuration>
